*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
    user-select: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    width: 100%;
    color: yellow;
    display: flex;
    text-align: center;
    padding: 1vw;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
}
h1 span{
    color: red;
}
.intro{
    color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro h2{
    color: red;
}
.intro p{
    text-align: center;
    font-size: 1.2vw;
    font-weight: 600;
}
.game-button{
    display: flex;
    gap: 2vw;
}
.game-button button{
    color: black;
    border: none;
    text-align: center;
    padding: 0.7vw 1.5vw;
    font-size: 1.2vw;
    border-radius: 8px;
    background-color: red;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    background: linear-gradient(160deg, #34e89e, #0f3443);
    color: white;
}
.game-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}
.win-count{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5vw;
    height: 40vh;
    width: 20vw;
    line-height: 6vh;
    font-family: Roboto, sans-serif;
}
.win-count h5{
    font-size: 2.5vw;
    color: yellow;
    margin-bottom: 2vh;
}
.board-container{
    border: 8px solid red;
    border-radius: 8px;
    display: grid;
    grid-template-rows: repeat(3, 7.5vw);
    grid-template-columns: repeat(3, 7.5vw);
    margin-right: 24vw;
    background-color: white
}
.box{
    border: 1.5px solid black;
    font-size: 7vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'roboto',sans-serif;
}
.box:hover{
    background-color: rgba(143, 83, 199,0.25);
}

@media (max-width:600px) {
    body{
        padding: 0px 3.8px;
    }
    h1{
        font-size: 10vw;
        margin-top: 1vh;
        margin-bottom: 3vh;
    }
    .intro{
        flex-wrap: wrap;
    }
    .game-button{
        display: flex;
        flex-wrap: wrap;
    }
    .game-button button{
        font-size: 5vw;
        border-radius: 6px;
    }
    .intro p{
        flex-wrap: wrap;
        font-size: 2.5vw;
        line-height: 2vh;
    }
    .game-container{
        display: flex;
        flex-wrap: wrap;
    }
    .win-count{
        line-height: 2vh;
        font-size: 3vw;
    }
    .win-count h5{
        font-size: 3vw;
        margin-bottom: 2vw;
    }
    .board-container{
        flex-wrap: wrap;
        width: 60vw;
        height: 27vh;
        margin-right: 0;
        border: 4px solid red;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(3, auto);
    }
    .box{
        border: 0.5px solid black;
    }
}
